* {
    margin: 0;
    padding: 0;
    color: inherit;
    border: 0 none;
    cursor: inherit;
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
}
.obj {
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
}
.spr {
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
}
.room {
    width: 1024px;
    height: 500px;
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    overflow: hidden;
    opacity: 1;
    pointer-events: none;
    display: none;
    border: solid 1px black;
}
.tmr {
    display: none;
}